h1 {
    text-align: center;
}

div.container {
    max-width: 100%;
}

#worstTime {
    border: 4px solid #FF6341;
    border-radius: 20px;
}

#bestTime {
    border: 4px solid #D7DF23;
    border-radius: 20px;
}



#no-data-stick-man {
    align-self: center; 
    border-radius: 20px;
}

img.stick-man {
    border: 8px solid black;
    border-radius: 25px;
}

div.card.m-3.stick-man {
    color: white;
    background-color: #FF6341;
    background: linear-gradient(180deg, rgba(255,99,65,1) 
                                31%, rgba(255,255,255,1) 
                                80%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    border: 2px solid #FF6341;
    margin: 2%;
}

.no-data {
    text-align: center;
}

h3.no-data {
    color: black;
}