h1 {
    text-align: center;
}

div.container {
    max-width: 100%;
}

#worstTime {
    border: 4px solid #FF6341;
    border-radius: 20px;
}

#bestTime {
    border: 4px solid #D7DF23;
    border-radius: 20px;
}

#opponents {
    border-radius: 20px;
}