
/* ***********************heading/header styles ******************** */
h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



/* ***********************container/card styles ******************** */
div.container {
    max-width: 100%;
}



/* ***********************image styles ******************** */
img {
    border-radius: 70%;
    max-width: 50%;
    align-self: center;
    padding: 5%;
}

/* ***********************button styles ******************** */
.btn-start-game {
    text-align: center;
    padding-top:  3rem;
}

#new-user {
    margin-top: 3rem;
}

/* ***********************footer styles ******************** */
.footer-sticky {
    padding: 50px;
    text-align: center;
}