<h1>{{title}}</h1>

<div class="container">

    <div class="card m-3">
        <button 
           class="btn btn-lg"
           (click)="showModal()"
        >
            New User?
        </button>
    </div>

    <div class="row">

        <div class="col-md-6">
            <!-- section for displaying personal best time -->
            <div class="card m-3" id="bestTime">
                <div class="card-header">My Best Time:</div>
                <div class="card-body">
                    No Game Data to display : - (
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- section for displaying worst time -->
            <div class="card m-3" id="worstTime">
                <div class="card-header">My Worst Time:</div>
                <div class="card-body">
                    No Game Data to display : - (
                </div>
            </div>
        </div>
    </div>

    <div class="class row">
        <div class="col-md-6">
            <!-- section for displaying # of wins -->
            <div class="card m-3" id="bestTime">
                <div class="card-header"># of times I won:</div>
                <div class="card-body">
                    No Game Data to display : - (
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- section for displaying # of losses -->
            <div class="card m-3" id="worstTime">
                <div class="card-header"># of times I lost:</div>
                <div class="card-body">
                    No Game Data to display : - (
                </div>
            </div>
        </div>
    </div>
</div>


<!-- section for entering in opponent names -->
<div class="card m-3" id="opponents">
    <div class="card-header">My Opponents:</div>
    <div class="card-body">
        <!-- {{ addedOpponent ? addedOpponent.opponentName : "You have no opponents : - (" }} -->
        None : - (
        <div class="addPlayer">
            <!-- add a button here to be able to add a new user?  -->
            <button class="btn btn-primary">+ player</button>
        </div>
    </div>
</div>

<app-game-timer></app-game-timer>


