<h1>Create/Add User Profile</h1>

<div class="card">
    <div class="card-body">
        <div class="col-sm-10">

        </div>
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg"  placeholder="imready@bikinibottom.com">
            <br>
            <button class="btn btn-outline-primary">Save</button>
        </div>
    </div>
</div>