

<div class="card">
    <h2>Create Profile</h2>
    <!-- <div class="card-title">Create Profile</div> -->
    <div class="card-body">

        <form method="post">
            <label>Email Address:</label> 

            <br />

            <input 
                class="input-group-text" 
                id="inputGroup-sizing-default" 
                name="submitted-email" 
                autocomplete="email"
            >
            <br />

            <button 
                type="submit" 
                class="btn btn-primary btn-lg"
            >
                Save
            </button>

            <br />
            <br />
            
          </form>
         
          <button 
                class="btn btn-primary btn-lg"
                [routerLink]="['/game-data']"
                (click)="closeModal()"
            >
                Skip -->
            </button>

            

    </div>
</div>
